.hotel-list{
 border-style: solid;
border-radius: 15px 50px 30px;
margin: auto;
width: 800px;
background-color: rgba(166, 161, 161, 0.628);
margin-bottom: 100px;
height: 350px;
margin-top: 30px;
left: 400px;

    
    
}
.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.listSearch{
    flex:1;
    background-color: #febb02
}
.listSearch{
    flex:3;
}
.img-size{
 height: 100%;
  width: 40%;
  float: left;
  margin-left: 0px 0px 0px 30px;
  border-radius: 15px 50px 30px;
}
