.hotel-list{

border-radius: 15px 50px 30px;
margin: auto;
width: 800px;
background-color: rgba(166, 161, 161, 0.628);
margin-bottom: 100px;
height: 350px;
margin-top: 30px;
left: 400px;


}
/* .listConatiner{
    display: flex;
    justify-content: center;
    margin-top: 20px;
} */

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.listSearch{
    flex:1;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;


}


.img-size{
 height: 100%;
  width: 40%;
  float: left;
  margin-left: 0px 0px 0px 30px;
  border-radius: 15px 50px 30px;
}
.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.listResult{
    flex: 3;
}

.reserve{
    margin-left: 45%;
    margin-top: 3%;
}
/* .hotel-list{
    margin-right: px;
} */
